<div class="user-container">
    <p class="user-name">{{user.name}}</p>
    <div class="user-email">
        邮箱：<br>
        {{user.email}}
    </div>
</div>

<div class="blog-detail-container">
    <p class="blog-detail-title">{{selectedBlog.title}}</p>
    <div class="blog-detail-content">
        {{selectedBlog.content}}
    </div>
    <p class="blog-time">
        最近修改时间：{{selectedBlog.lastModified}}
    </p>
</div>

<div class="buttons-container">
    <img src="../../../../assets/images/点赞.png" style="margin:0 7px;margin-top:15px;" (click)="dianzan()">
    <p style="margin:0 13px;margin-bottom:17px;">{{dianzannum}}</p>

    <img src="../../../../assets/images/评论.png" style="margin:10px 7px;" (click)="comment()">
    
    <img src="../../../../assets/images/返回.png" style="margin:17px 7px;" (click)="fanhui()">
</div>

<div *ngIf="displayComment" class="comment-container">
    <div *ngFor="let comment of comments"  class="comment">
        {{comment.content}}
    </div>
    <form [formGroup]="commentForm">
        <input class="comment-input" placeholder="请输入评论" formControlName="content">

        <button class="create-button" mat-raised-button color="primary"
                (click)="commentSub()">{{'发布' | translate}}</button>

    </form>
</div>